<header class="header">
  <div class="logo">
    <img src="/logoSinFondo.png">
  </div>
</header>
<app-lateral-orange></app-lateral-orange>
<div class="login">
  <h1>¡Bienvenido de nuevo!</h1>
  <div class="imageLogo">
    <img src="/imageLogo.png">
  </div>
  <div class="text-input">
    <app-text-input placeholder="Correo electrónico" type="email"></app-text-input>
  </div>
  <div class="text-input">
    <app-text-input placeholder="Contraseña" type="password"></app-text-input>
  </div>
  <p>
    ¿Has olvidado tu contraseña?
  </p>
  <app-buton text="Iniciar Sesión"></app-buton>
  <p>
    ¿Todavía no tienes una cuenta? Regístrate
  </p>
</div>

