<div class="container">
  <div class="lateral">
    <div class="logo">
      <img src="/logoSinFondo.png">
    </div>
  </div>

  <div class="girl">
    <img src="/girl.png">
  </div>

  <div class="login">
    <h1>Welcome back!</h1>
    <div class="imageLogo">
      <img src="/imageLogo.png">
    </div>
    <div class="text-input">
      <app-text-input placeholder="Email" type="email"></app-text-input>
    </div>
    <div class="text-input">
      <app-text-input placeholder="Password" type="password"></app-text-input>
    </div>
    <p class="password">Forgot your password?</p>
    <app-buton text="Sign in"></app-buton>
    <p class="register">Don't have an account yet? <span class="highlight">Sign up</span></p>
  </div>
</div>
<app-footer></app-footer>
