<div class="footer-row">
  <div class="colum">
    <span>Sobre Nosotros</span>
    <ul class="content">
      <li>¿Quiénes somos?</li>
      <li>Nuestros valores</li>
      <li>Política de uso</li>
      <li>Países</li>
    </ul>
  </div>
  <div class="colum">
    <span>Más información</span>
    <ul class="content">
      <li>FAQS</li>
      <li>Cookies</li>
      <li>Política de uso</li>
    </ul>
  </div>
  <div class="colum">
    <span>Síguenos</span>
    <ul class="content">
      <li>
        <ul class="social-network">
          <li><img src="icons8-instagram 3.png" alt="instagram icon"></li>
          <li><img src="Group.png" alt="facebook icon"></li>
          <li><img src="Group (2).png" alt="facebook icon"></li>
          <li><img src="Group (1).png" alt="facebook icon"></li>
        </ul>
      </li>
      <li>Contáctanos si necesitas ayuda</li>
    </ul>
  </div>
</div>
