<div class="footer-row">
  <div class="colum">
    <span>About Us</span>
    <ul class="content">
      <li>Who are we?</li>
      <li>Our values</li>
      <li>Terms of use</li>
      <li>Countries</li>
    </ul>
  </div>
  <div class="colum">
    <span>More Information</span>
    <ul class="content">
      <li>FAQs</li>
      <li>Cookies</li>
      <li>Terms of use</li>
    </ul>
  </div>
  <div class="colum">
    <span>Follow Us</span>
    <ul class="content">
      <li>
        <ul class="social-network">
          <li><img src="icons8-instagram 3.png" alt="instagram icon"></li>
          <li><img src="Group.png" alt="facebook icon"></li>
          <li><img src="Group (2).png" alt="facebook icon"></li>
          <li><img src="Group (1).png" alt="facebook icon"></li>
        </ul>
      </li>
      <li>Contact us if you need help</li>
    </ul>
  </div>
</div>
