.button {
  background-color: white;
  color: #EB5E28;
  border: 1px solid #EB5E28;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #d14a1a;
    color: white;
  }
}
