<app-header-with-login></app-header-with-login>
<div class="body">
    <form class="anuncio" [formGroup]="form">
      <div class="top">
        <input class="title"
               type="text"
               [ngClass]="{'invalid-field': formSubmitted && form.controls.name?.invalid}"
               [formControl]="form.controls.name"
               placeholder="Title" />
        <input class="data"
               type="text"
               [ngClass]="{'invalid-field': formSubmitted && form.controls.location?.invalid}"
               [formControl]="form.controls.location"
               placeholder="Location" />
        <div class="price">
          <input class="data"
                 type="number"
                 [ngClass]="{'invalid-field':  formSubmitted && form.controls.price?.invalid}"
                 [formControl]="form.controls.price"
                 placeholder="Price" />
          <a class="data">€/h</a>
        </div>
        <input class="data"
               type="text"
               [ngClass]="{'invalid-field': formSubmitted && form.controls.experience?.invalid}"
               [formControl]="form.controls.experience"
               placeholder="Experience" />
      </div>
      <div class="content">
        <h2>Small initial description</h2>
        <textarea id="small-text"
                  (input)="onSmallCharInput($event)"
                  [value]="smallText"
                  [ngClass]="{'invalid-field': formSubmitted && form.controls.short_description?.invalid}"
                  [formControl]="form.controls.short_description"
                  placeholder="Write here..."></textarea>
        <p class = "counter">{{ smallCharCount }} / {{ SMALL_LIMIT }} characters</p>
        <h2>Detailed description
        </h2>
        <textarea id="large-text"
                  (input)="onLargeCharInput($event)"
                  [ngClass]="{'invalid-field':  formSubmitted && form.controls.description?.invalid}"
                  [value]="largeText"
                  [formControl]="form.controls.description"
                  placeholder="Write here..."></textarea>
        <p class = "counter">{{ largeCharCount }} / {{ LARGE_LIMIT }} characters</p>
      </div>
      <div class="button-bar">
        <app-buton (click)="submitForm()" [text]="'Publish'"></app-buton>
      </div>
    </form>
</div>
<app-footer></app-footer>
