<app-header-with-login></app-header-with-login>
<div class="body">
    <div class="anuncio">
      <div class="top">
        <input class="title" type="text" placeholder="Title" />
        <input class="data" type="text" placeholder="Location" />
        <div class="price">
          <input class="data" type="number" placeholder="Price" />
          <a class="data">€/h</a>
        </div>
        <input class="data" type="text" placeholder="Experience" />
      </div>
      <div class="content">
        <h2>Small initial description</h2>
        <textarea id="small-text" placeholder="Write here..."></textarea>
        <p class = "counter">0 / 50 words</p>
        <h2>Detailed description
        </h2>
        <textarea id="large-text" placeholder="Write here..."></textarea>
        <p class = "counter">0 / 500 words</p>
      </div>
    </div>
</div>
<app-footer></app-footer>
