<div class="offer-preview-card">
  <div class="offer-card-header">
    <h2>{{service.name}}</h2>
    <div class="offer-card-header-right">
      <p>Posted {{dateToDays()}} days ago</p>
      <img
        *ngIf="!myOfferFlag"
        [src]="isFavorite ? '/favorite_checked.png' : '/favorite_unchecked.png'"
        alt="favorite"
        height="40" width="40"
        (click)="toggleFavorite()"
      >
    </div>
  </div>
  <p class="location">{{service.location}}</p>
  <p class="salary">{{service.price}} €</p>
  <p class="experience">{{service.experience}} experience</p>

  <hr class="divider">

  <p class="description">{{service.short_description}}</p>

  <div class="offer-card-footer" *ngIf="myOfferFlag">
    <app-buton
      text="Edit offer"
      (action)="goTo('')"
    ></app-buton>
    <app-buton
      text="Delete offer"
      (action)="deleteOffer()"
    ></app-buton>
  </div>
</div>
