<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.5">
  <title>Profile - HireMe</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="header">
  <app-header-with-login></app-header-with-login>
</div>
<div class="container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li (click)="goTo('my-offers')"><img src="/iconoMisAnuncios.png" class="icono" style="width: 41px;height: 34px">
          My offers
        </li>
        <li><img src="/iconoFavorito.png" class="icono" style="width: 39px;height: 39px;">
          Favorites
        </li>
        <li><img src="/iconoNuevoAnuncio.png" class="icono" id="nuevoAnuncio" style="width: 45px;height: 45px">
          Publish new offer
        </li>
      </ul>
    </nav>
    <app-buton text="Log Out"></app-buton>
    <br>
    <div id="deleteProfileButton"><app-buton text="Delete profile"></app-buton></div>
  </aside>
  <main class="profile">
    <section class="info">
      <img src="./imageLogo.png" alt="Avatar" class="avatar">
      <div class="details">
        <h2 style="margin-top: 4em">Tralalero Tralala</h2>
        <a href="mailto:ejemplo@gmail.com">ejemplo&#64;gmail.com</a>
        <p>35019, Las Palmas de Gran Canaria, ES</p>
        <a href="#">Add phone number</a>
        <div class="buttons">
          <app-buton text="Upload CV"></app-buton>
          <div id="actualizarCVButton"><app-buton text="Update CV"></app-buton></div>
        </div>
      </div>
    </section>
  </main>
</div>
</body>
</html>
