<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.5">
  <title>Profile - HireMe</title>
  <link rel="stylesheet" href="styles.css">
</head>
<app-header-with-login></app-header-with-login>
<body>
<div class="container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li (click)="goTo('my-offers')"><img src="/iconoMisAnuncios.png" class="icono" style="width: 41px;height: 34px" alt="icono anuncios">
          My offers
        </li>
        <li (click)="alert('Not implemented yet')"><img src="/iconoFavorito.png" class="icono" style="width: 39px;height: 39px;">
          Favorites
        </li>
        <li id="publishNewOffer" (click)="goTo('create')"><img src="/iconoNuevoAnuncio.png" class="icono" id="nuevoAnuncio" style="width: 45px;height: 45px">
          Publish new offer
        </li>
      </ul>
    </nav>
    <app-buton text="Log Out" (click)="logout()"></app-buton>
    <br>
  </aside>
  <main class="profile">
    <section class="info">
      <input type="file" #fileInput accept="image/*" (change)="onPhotoSelected($event)" style="display: none" />
      <img id="ProfilePhoto" [src]="imageSrc" alt="Avatar" class="avatar" (click)="changeProfilePhoto(fileInput)" />
      <div class="details">
        <h2 style="margin-top: 4em">{{name}}</h2>
        <a href="mailto:ejemplo@gmail.com">{{ email }}</a>
        <p>{{location}} ES</p>
        <a>{{ phone }}</a>
        <div class="buttons">
          <input type="file" #fileInput accept=".pdf" style="display: none" (change)="onFileSelected($event)" />
          <app-buton text="Upload CV" (click)="uploadCV(fileInput)"></app-buton>
          <div id="actualizarCVButton"><app-buton text="Show CV"></app-buton></div>
        </div>
      </div>
    </section>
  </main>
</div>
</body>
<footer>
  <app-footer></app-footer>
</footer>
</html>
